.btn{
	.transition(0.2s);
	.fh;
	margin: 0;
	padding: 0 30px;
	border : 0;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: @cl;
	&:hover{
		background: @c3;
	}
}
.fileinputs {
	&:hover{
		input[type="button"] {
			background: @c3;
		}
	}
}