#page-header {
	position: relative;
	@media @sm, @xs {
		background: @c2;
	}
	.logo {
		position: absolute;
		z-index: 1;
		text-align: center;
		left: 0;
		right: 0;
		top: 5px;
		height: 0;
		overflow: visible;
		@media @sm {
			top: 0;
			a {
				display: inline-block;
				width: 33.3333%;
			}
		}
		@media @xs {
			position: static;
			height: auto;
			margin: -5px 0 -10px;
		}
	}
	.container {
		position: relative;
		z-index: 101;
	}
}
#container {
	background: @c5;
}
#content {
	padding: 50px 0;
}
.mod_breadcrumbs {
	ul {
		.rul;
		margin: 0 0 20px;
		li {
			display: inline-block;
			font-size: 15px;
			margin: 0 10px 10px 0;
		}
	}
}
.mod_custom-map {
	position: relative;
	overflow: hidden;
	.map {
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		@media @xs {
			position: relative;
			padding: 0 0 50%;
		}
		iframe {
			position: absolute;
			left: -50%;
			top: -50%;
			width: 220%;
			height: 220%;
			border: 0;
			@media @xs {
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
	.container {
		position: static;
	}
	.content {
		position: relative;
		z-index: 2;
		width: 240px;
		font-size: 18px;
		line-height: 1.35;
		@media @xs {
			width: auto;
			padding: 0 20px;
			margin: 0 -20px;
			text-align: center;
		}
		&:before{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 999em;
			background: @c5 url(../images/bg/02.png) right;
		}
		&:after{
			content: '';
			position: absolute;
			left: 100%;
			top: 50%;
			width: 120px;
			height: 800px;
			margin: -400px 0 0;
			background: url(../images/bg/03.png) no-repeat;
			@media @xs {
				display: none;
			}
		}
		.inner {
			.clearfix;
			position: relative;
			padding: 67px 0;
			@media @xs {
				padding: 30px 0;
			}
		}
		.mod-title {
			.fh;
			color: @c2;
			font-weight: 500;
			font-size: 36px;
			line-height: 1.2;
			margin: 0 0 34px;
			text-transform: uppercase;
		}
		address {
			font-style: normal;
			margin: 0 0 24px;
		}
		nav {
			margin: 33px 0 20px;
			a {
				.fh;
				position: relative;
				display: inline-block;
				text-decoration: none;
				font-size: 22px;
				line-height: 1;
				width: 124px;
				padding: 0 60px 0 0;
				&:hover{
					color: @c3;
				}
				&:before{
					.fi;
					content: '\e80e';
					position: absolute;
					right: 0;
					top: 50%;
					margin: -30px 0 0;
					font-size: 60px;
					line-height: 1;
				}
			}
		}
	}
}
.mod_custom-phone {
	position: relative;
	z-index: 2;
	float: left;
	color: #fff;
	text-shadow: 1px 1px 0 fade(#000,20%);
	height: 80px;
	padding: 31px 0 0;
	@media @sm {
		height: auto;
		margin: 0 0 20px;
	}
	@media @xs {
		float: none;
		height: auto;
		text-align: center;
		padding: 0;
		margin: 0 0 20px;
	}
	a {
		color: #fff;
	}
	.mod-title {
		float: left;
		font-size: 14px;
		line-height: 1;
		margin: 8px 17px 0 0;
		@media @xs {
			float: none;
			margin: 0 0 5px;
		}
	}
	mark {
		.fh;
		font-weight: 500;
		float: left;
		white-space: nowrap;
		color: #fff;
		font-size: 24px;
		line-height: 1;
		@media @xs {
			float: none;
		}
		&:before{
			.fi;
			content: '\e800';
			font-size: 36px;
			float: left;
			margin: -8px 10px 0 0;
			@media @xs {
				display: none;
			}
		}
		small {
			font-size: 18px;
		}
	}
}
.mod_menu-lang {
	.clearfix;
	position: relative;
	z-index: 3;
	float: right;
	color: #fff;
	text-shadow: 1px 1px 0 fade(#000,20%);
	height: 80px;
	padding: 35px 0 0;
	font-size: 14px;
	line-height: 1;
	@media @sm {
		height: auto;
		margin: 0 0 20px;
	}
	@media @xs  {
		height: auto;
		padding: 0;
		float: none;
		text-align: center;
		margin: 0 0 20px;
	}
	a {
		color: #fff;
	}
	.mod-title {
		float: left;
		margin: 0 15px 0 0;
		@media @xs {
			display: none;
		}
	}
	.toggle {
		float: left;
		text-transform: uppercase;
		cursor: default;
		@media @xs {
			display: none;
		}
		&:before{
			.fi;
			content: '\e801';
			float: left;
			font-size: 26px;
			margin: -6px 14px 0 0;
		}
		&:after{
			.fi;
			content: '\e805';
			float: right;
			font-size: 26px;
			margin: -6px 4px 0 10px;
		}
	}
	ul {
		.rul;
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		background: @c3;
		margin: -15px 0 0;
		@media @xs {
			position: static;
			display: block;
			background: none;
			margin: 0;
		}
		li {
			.rli;
			font-size: 15px;
			text-transform: uppercase;
			@media @xs  {
				display: inline-block;
			}
			a {
				display: block;
				padding: 5px 25px;
				text-decoration: none;
				@media @xs {
					padding: 5px;
				}
				&:hover{
					color: @c2;
					background: @c4;
				}
			}
			&.act {
				a {
					color: @c2;
					background: @c4;
				}
			}
		}
	}
	&:hover {
		ul {
			display: block;
		}
	}
}
.mod_menu-main {
	position: relative;
	clear: both;
	height: 80px;
	background: @c2;
	@media @sm {
		height: auto;
		text-align: center;
		padding: 80px 0 20px;
	}
	@media @xs {
		height: auto;
		text-align: center;
		margin: 0 0 30px;
	}
	.toggle {
		.fh;
		display: none;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		font-size: 30px;
		line-height: 1;
		padding: 10px 0;
		background: @c3;
		cursor: pointer;
		&:before{
			.fi;
			content: '\e811';
			margin: 0 10px 0 0;
		}
		@media @xs {
			display: block;
		}
	}
	&>ul {
		.rul;
		position: relative;
		z-index: 2;
		float: right;
		vertical-align: top;
		padding: 0 25px;
		width: 42.5%;
		@media @sm {
			float: none;
			display: inline;
			width: auto;
			margin: 0;
			padding: 0;
		}
		@media @xs {
			display: none;
			width: 100%;
			padding: 0;
			margin: 0;
			.mod_menu-main-on & {
				display: block;
			}
		}
		&.first {
			float: left;
		}
		&:first-of-type {
			float: left;
		}
		&>li {
			.rli;
			position: relative;
			z-index: 0;
			display: inline-block;
			vertical-align: middle;
			@media @xs {
				display: block;
			}
			&:hover{
				z-index: 9;
			}
			&.act {
				&>a {
					color: @c4;
				}
			}
			&>a {
				.fh;
				display: inline-block;
				padding: 31px 12px;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 18px;
				line-height: 1;
				@media @sm {
					padding: 10px 10px;
				}
				@media @md {
					padding-right: 5px;
					padding-left: 5px;
					font-size: 16px;
				}
				@media @xs {
					display: block;
					padding: 10px 0;
					text-align: center;
					border-bottom: 1px dashed @c6;
				}
				&:hover{
					color: @c4;
				}
			}
			&:hover{
				ul {
					display: block;
				}
			}
			ul {
				.rul;
				display: none;
				position: absolute;
				top: 100%;
				left: 12px;
				width: 200px;
				margin: -17px 0 0;
				padding: 40px 30px 33px;
				background: @c3;
				@media @xs {
					position: static;
					display: block;
					background: none;
					width: auto;
					margin: 0;
					padding: 20px 0;
					text-align: center;
					border-bottom: 1px dashed @c6;
				}
				&:before{
					content: '';
					position: absolute;
					bottom: 100%;
					left: 0;
					width: 50%;
					height: 7px;
					background: @c3;
					@media @xs {
						display: none;
					}
				}
				li {
					.rli;
					margin: 0 0 12px;
					@media @xs  {
						display: inline-block;
						vertical-align: top;
						margin: 0 10px 15px;
					}
					&.act {
						&>a {
							color: @c4;
						}
					}
					a {
						display: block;
						color: #fff;
						padding: 0 0 0 16px;
						font-size: 14px;
						line-height: 1.2;
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
						&:before{
							.fi;
							content: '\e803';
							position: absolute;
							left: 0;
							top: -3px;
							font-size: 20px;
							line-height: 1;
						}
					}
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	top: -160px;
	margin: 0 0 -160px;
	overflow: hidden;
	@media @sm, @xs {
		top: 0;
		margin-bottom: 0;
	}
	.items {
		.item {
			width: 100%;
			color: #fff;
			min-height: 236px;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			.content {
				text-align: center;
				padding: 350px 5% 150px;
				@media @md {
					padding: 280px 0 100px;
				}
				@media @sm, @xs {
					padding: 60px 0;
				}
				h2 {
					.fp;
					font-size: 74px;
					line-height: 1.2;
					font-weight: 800;
					text-shadow: 2px 2px 0 fade(#000,20%);
					text-transform: uppercase;
					margin: 0 0 38px;
					@media @md {
						font-size: 60px;
					}
					@media @sm, @xs {
						font-size: 36px;
						margin: 0 0 20px;
					}
				}
				nav {
					a {
						.fh;
						.box-shadow(2px 2px 0 fade(#000,20%));
						display: inline-block;
						text-transform: uppercase;
						padding: 24px 62px;
						color: #fff;
						font-size: 24px;
						text-shadow: 2px 2px 0 fade(#000,20%);
						text-decoration: none;
						border: 3px solid #fff;
						@media @md {
							padding: 16px 45px;
						}
						@media @sm, @xs {
							font-size: 22px;
							padding: 12px 25px;
						}
						&:hover{
							background: fade(#fff,20%);
						}
					}
				}
			}
		}
	}
	.prev,.next {
		position: absolute;
		z-index: 101;
		bottom: 50%;
		left: 1%;
		font-size: 120px;
		line-height: 1;
		margin: 60px 0 0;
		color: fade(#fff,35%);
		text-shadow: 0 0 20px fade(#000,30%);
		text-decoration: none;
		@media @md {
			left: -3%;
		}
		@media @sm, @xs {
			bottom: 13px;
			font-size: 50px;
			margin: 0;
		}
		&:hover{
			color: #fff;
		}
		&:before{
			.fi;
			content: '\e809';
		}
	}
	.next {
		left: auto;
		right: 0;
		@media @md {
			left: auto;
			right: -3%;
		}
		&:before{
			content: '\e80a';
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 20px;
		left: 0;
		right: 0;
		text-align: center;
		span {
			.border-radius(50%);
			display: inline-block;
			text-indent: -9999px;
			width: 20px;
			height: 20px;
			margin: 0 4px;
			border: 3px solid #fff;
			cursor: pointer;
			&.cycle-pager-active {
				background: @c2;
			}
		}
	}
}
.mod_custom-about {
	position: relative;
	z-index: 2;
	padding: 40px 0 0;
	color: #fff;
	background: @c2 url(../images/bg/01.png) bottom;
	.mod-title {
		.fh;
		font-size: 36px;
		line-height: 1.2;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
		margin: 0 0 11px;
	}
	.content {
		display: -webkit-box;
		text-align: center;
		font-size: 19px;
		line-height: 30px;
		padding: 0 5%;
		height: 60px;
		margin: 0 0 10px;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	&.on {
		.content {
			height: auto;
			-webkit-line-clamp: 9999999;
		}
	}
	nav {
		margin: 0 0 -35px;
		text-align: center;
		a {
			.border-radius(50%);
			display: inline-block;
			width: 70px;
			height: 70px;
			line-height: 28px;
			padding: 35px 0 0;
			font-size: 0;
			color: #fff;
			text-decoration: none;
			background: @c2 url(../images/bg/01.png) center 35px;
			&:hover{
				color: @c4;
			}
			&:before{
				.fi;
				font-size: 32px;
				content: '\e806';
			}
		}
	}
	&.on {
		nav {
			a {
				&:before{
					content: '\e804';
				}
			}
		}
	}
}
.mod_custom-animals {
	position: relative;
	z-index: 1;
	padding: 104px 0 50px;
	background: @c4 url(../images/bg/02.png) top;
	.container {
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			.fh;
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px;
			padding: 0 30px;
			font-size: 28px;
			line-height: 1.2;
			text-transform: uppercase;
			@media @md {
				padding: 0 15px;
			}
			a {
				display: block;
				text-decoration: none;
				&:hover{
					figure {
						&:before{
							.box-shadow(none);
							border-width: 10px;
						}
					}
				}
			}
			img {
				.border-radius(50%);
				display: block;
			}
			figure {
				.transition(0.05s);
				position: relative;
				margin: 0 0 20px;
				&:before{
					.border-radius(50%);
					.box-shadow(inset 0 0 8px fade(#000,70%));
					.transition(0.1s);
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border: 0px solid fade(#000,30%);
				}
			}
		}
	}
	.content {
		margin: 0 0 40px;
		ul {
			margin: 0 5px;
			li {
				width: 20%;
				@media @sm {
					width: 33.3333%;
				}
				@media @xs {
					width: 50%;
					padding: 0 10px 20px;
				}
			}
		}
	}
	.slider {
		position: relative;
		padding: 0 15px;
		margin: 0 0 40px;
		ul {
			.rul;
			li {
				.rli;
				width: 156px;
				padding: 0 20px;
				font-size: 21px;
				@media @md {
					width: 128px;
					padding: 0 10px;
				}
				@media @sm {
					width: 168px;
				}
			}
		}
		.prev, .next {
			position: absolute;
			left: -20px;
			top: 8px;
			font-size: 96px;
			line-height: 1;
			overflow: hidden;
			&:hover{
				color: @c3;
			}
			&:before{
				.fi;
				position: relative;
				left: -36px;
				content: '\e809';
			}
		}
		.next {
			right: -20px;
			left: auto;
			&:before{
				content: '\e80a';
				left: 34px;
			}
		}
	}
	nav {
		margin: 0 0 -90px;
		a {
			.btn;
			height: 84px;
			line-height: 84px;
			font-size: 24px;
			padding: 0 64px;
		}
	}
}
.mod_custom-offers {
	position: relative;
	padding: 60px 0 70px;
	background: @c5;
	.mod-title {
		.fh;
		font-size: 36px;
		line-height: 1.2;
		color: @c2;
		text-transform: uppercase;
		margin: 0 0 30px;
	}
	.items {
		.item {
			.clearfix;
			padding: 0 0 22px;
			margin: 0 0 50px;
			border-bottom: 1px dashed @c6;
			&:last-child {
				border-bottom: none;
				margin-bottom: 30px;
			}
			figure {
				float: left;
				width: 28%;
				padding: 5px 48px 0 0;
				@media @sm {
					width: 50%;
				}
				@media @xs {
					width: auto;
					padding: 0 0 10px;
					float: none;
				}
				img {
					display: block;
				}
				a {
					display: block;
					position: relative;
					&:before{
						.transition(0.1s);
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border: 0px solid fade(#000,30%);
					}
					&:hover{
						&:before{
							border-width: 10px;
						}
					}
				}
			}
			.content {
				float: left;
				width: 50%;
				padding: 0 20px 0 0;
				@media @md {
					width: 45%;
					font-size: 16px;
				}
				@media @sm {
					padding: 0;
					font-size: 16px;
				}
				@media @xs {
					width: auto;
					float: none;
					padding: 0;
				}
				h2 {
					font-size: 26px;
					margin: 0 0 15px;
					@media @md {
						margin-bottom: 0;
					}
				}
			}
			nav {
				float: left;
				width: 22%;
				margin: 5px 0 0;
				padding: 0 0 0 10px;
				@media @md {
					width: 27%;
				}
				@media @sm, @xs {
					width: 100%;
					padding: 0;
				}
				a {
					.fh;
					.transition(0.2s);
					font-weight: 500;
					display: block;
					position: relative;
					text-transform: lowercase;
					text-decoration: none;
					height: 130px;
					font-size: 21px;
					line-height: 1;
					text-align: right;
					padding: 44px 95px 0 50px;
					background: @c4;
					@media @sm, @xs {
						height: auto;
						padding-top: 30px;
						padding-bottom: 30px;
					}
					&:hover{
						color: #fff;
						background: @c3;
					}
					&:before{
						position: absolute;
						left: 0;
						top: 50%;
						content: '';
						margin: -65px 0 0;
						border: 65px solid transparent;
						border-right-width: 0;
						border-left: 42px solid @c5;
						@media @sm, @xs {
							left: -16px;
						}
					}
					&:after{
						.fi;
						content: '\e80e';
						position: absolute;
						top: 50%;
						right: 28px;
						line-height: 1;
						font-size: 60px;
						margin: -30px 0 0;
						font-weight: normal;
					}
				}
			}
		}
	}
	.show {
		text-align: center;
		a {
			.fh;
			.transition(0.1s);
			display: inline-block;
			text-transform: uppercase;
			padding: 24px 62px;
			font-size: 24px;
			text-decoration: none;
			border: 3px solid @c2;
			&:hover{
				color: #fff;
				background: @c2;
			}
		}
	}
}
.mod_custom-contact {
	padding: 50px 0 55px;
	color: #fff;
	background: @c2;
	a {
		color: #fff;
	}
	.mod-title {
		.fh;
		margin: 0 0 25px;
		font-size: 36px;
		line-height: 1.2;
		text-transform: uppercase;
		@media @xs {
			text-align: center;
		}
	}
	h2 {
		font-size: 26px;
		margin: 0 0 20px;
		@media @xs {
			text-align: center;
		}
	}
	.address {
		float: left;
		width: 27%;
		position: relative;
		padding: 0 0 0 70px;
		@media @md {
			width: 33.3333%;
		}
		@media @sm  {
			width: 50%;
			margin-bottom: 30px;
		}
		@media @xs {
			width: auto;
			float: none;
			padding: 0;
			text-align: center;
			margin: 0 0 20px;
		}
		&:before{
			.fi;
			content: '\e80f';
			position: absolute;
			left: 0;
			top: -10px;
			font-size: 56px;
			line-height: 1;
			@media @xs  {
				display: none;
			}
		}
	}
	.phone {
		.fh;
		position: relative;
		float: left;
		width: 23%;
		font-size: 36px;
		line-height: 1;
		padding: 13px 0 0 40px;
		@media @md  {
			width: 33.3333%;
		}
		@media @sm {
			float: right;
			width: 50%;
			margin-bottom: 30px;
		}
		@media @xs {
			width: auto;
			float: none;
			padding: 0;
			text-align: center;
			margin: 0 0 20px;
		}
		&:before{
			.fi;
			content: '\e800';
			position: absolute;
			left: -3px;
			top: -12px;
			font-size: 62px;
			line-height: 1;
			@media @xs {
				display: none;
			}
		}
		small {
			font-size: 21px;
		}
	}
	.email {
		.fh;
		position: relative;
		float: left;
		width: 40%;
		font-size: 21px;
		line-height: 1;
		padding: 25px 0 0 112px;
		@media @md {
			width: 33.3333%;
		}
		@media @sm {
			width: 50%;
			clear: left;
			padding-left: 70px;
		}
		@media @xs  {
			float: none;
			width: auto;
			padding: 0;
			text-align: center;
			margin: 0 0 30px;
		}
		&:before{
			.fi;
			content: '\e808';
			position: absolute;
			left: 34px;
			top: -6px;
			font-size: 55px;
			line-height: 1;
			@media @sm {
				left: 0;
			}
			@media @xs {
				display: none;
			}
		}
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.facebook {
		float: left;
		width: 10%;
		text-align: right;
		font-size: 0;
		line-height: 1;
		@media @md {
			width: 100%;
			clear: both;
			text-align: center;
			margin-top: 50px;
		}
		@media @sm {
			width: 50%;
			text-align: left;
		}
		@media @xs {
			width: auto;
			float: none;
			text-align: center;
			margin: 50px 0 0;
		}
		a {
			&:before{
				.fi;
				.border-radius(50%);
				content: '\e810';
				display: inline-block;
				width: 66px;
				height: 66px;
				line-height: 62px;
				padding: 4px 4px 0 0;
				text-align: center;
				font-size: 44px;
				color: @c2;
				background: #fff;
				margin: -10px 0 0;
			}
			&:hover{
				&:before{
					background: @c4;
				}
			}
		}
	}
}
#page-footer {
	padding: 50px 0 100px;
	@media @xs {
		padding: 20px 0;
	}
	.copy {
		float: left;
		font-size: 15px;
		color: lighten(@c1,50%);
		@media @xs {
			float: none;
			text-align: center;
		}
	}
	.xart {
		float: right;
		margin: 2px 0 0;
		font-size: 13px;
		text-transform: uppercase;
		@media @xs {
			float: none;
			text-align: center;
		}
		img {
			float: left;
			width: 14px;
			height: auto!important;
			margin: 2px 12px 0 0;
			@media @xs  {
				float: none;
				display: block;
				margin: 0 auto 5px;
				width: 25px;
			}
		}
		a {
			text-decoration: none;
			color: lighten(@c1,50%);
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 13px;
	background: @c4;
	border-top: 1px solid darken(@c4,20%);
	background: url(../images/bg/02.png) top;
	@media @xs {
		position: static;
	}
	.content {
		display: inline-block;
		vertical-align: middle;
		margin: 0 -4px 0 0;
		width: 80%;
		@media @xs {
			display: block;
			width: auto;
			margin: 0 0 20px;
		}
		p {
			margin: 5px 0 0;
		}
	}
	nav {
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		margin: 0 -4px 0 0;
		@media @xs {
			display: block;
			width: auto;
			margin: 0 0 20px;
		}
		a {
			.btn;
			display: block;
		}
	}
}
#gotop{
	@media @xs  {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e804';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}