nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e803';
			font-weight: bold;
			margin: 0 -10px 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: @c4;
	th,td{
		font-size: 15px;
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@c4,5%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@c3,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: darken(@c4,15%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width:45px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
		@media @xs {
			width: 100%;
		}
	}
	.fileinputs{
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: inline-block;
			.input-file-text{
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @c3;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0 0;
	margin: 40px 0 20px;
	border-top: 1px dashed @c6;
	a,span{
		.btn;
		.border-radius(50%);
		padding: 0;
		width: 48px;
		height: 48px;
		line-height: 48px;
		font-size: 22px;
	}
	span.pagenav{
		color: #fff;
		background: @c3;
	}
	span.pagenav-ico{
		cursor: default;
		background: @c4;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 0;
	border-top: 1px dashed @c6;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 20px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup {
	img {
		.transition(0.1s);
		border: 10px solid @c4;
	}
	&:hover{
		img {
			border-color: darken(@c4,10%);
		}
	}
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @c6;
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c3;
	}
	.warning,.error{
		background: darken(red,15%);
	}
}
