
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-angle-left:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e803'; } /* '' */
.icon-angle-up:before { content: '\e804'; } /* '' */
.icon-angle-down:before { content: '\e805'; } /* '' */
.icon-ellipsis:before { content: '\e806'; } /* '' */
.icon-ellipsis-vert:before { content: '\e807'; } /* '' */
.icon-laptop:before { content: '\e808'; } /* '' */
.icon-arr-thin-left:before { content: '\e809'; } /* '' */
.icon-arr-thin-right:before { content: '\e80a'; } /* '' */
.icon-down-circled2:before { content: '\e80b'; } /* '' */
.icon-up-circled2:before { content: '\e80c'; } /* '' */
.icon-left-circled2:before { content: '\e80d'; } /* '' */
.icon-right-circled2:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */