@font-face {
  font-family: 'medaltrophy-icons';
  src: url('../font/medaltrophy-icons.eot?71887511');
  src: url('../font/medaltrophy-icons.eot?71887511#iefix') format('embedded-opentype'),
       url('../font/medaltrophy-icons.woff2?71887511') format('woff2'),
       url('../font/medaltrophy-icons.woff?71887511') format('woff'),
       url('../font/medaltrophy-icons.ttf?71887511') format('truetype'),
       url('../font/medaltrophy-icons.svg?71887511#medaltrophy-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'medaltrophy-icons';
    src: url('../font/medaltrophy-icons.svg?71887511#medaltrophy-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "medaltrophy-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mobile:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-angle-left:before { content: '\e802'; } /* '' */
.icon-angle-right:before { content: '\e803'; } /* '' */
.icon-angle-up:before { content: '\e804'; } /* '' */
.icon-angle-down:before { content: '\e805'; } /* '' */
.icon-ellipsis:before { content: '\e806'; } /* '' */
.icon-ellipsis-vert:before { content: '\e807'; } /* '' */
.icon-laptop:before { content: '\e808'; } /* '' */
.icon-arr-thin-left:before { content: '\e809'; } /* '' */
.icon-arr-thin-right:before { content: '\e80a'; } /* '' */
.icon-down-circled2:before { content: '\e80b'; } /* '' */
.icon-up-circled2:before { content: '\e80c'; } /* '' */
.icon-left-circled2:before { content: '\e80d'; } /* '' */
.icon-right-circled2:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e80f'; } /* '' */
.icon-facebook:before { content: '\e810'; } /* '' */
.icon-menu:before { content: '\e811'; } /* '' */